{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

	
	<h1>Search Prices</h1>
    <form autocomplete="off" action="" method="post" class="form-inline">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.service(cols=32, rows=4, class="form-control" ) }}<br>
        </div>
        <div class="form-group">
            {{ form.city(cols=32, rows=4, class="form-control", placeholder="Enter City") }}<br>
        </div>
        {{ form.submit(class="btn btn-default") }}
    </form>

    <br>
    <P>Live feed of user submitted prices...</p>
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
     <nav aria-label="...">
        <ul class="pager">
            <li class="previous{% if not prev_url %} disabled{% endif %}">
                <a href="{{ prev_url or '#' }}">
                    <span aria-hidden="true">&larr;</span> Newer reports
                </a>
            </li>
            <li class="next{% if not next_url %} disabled{% endif %}">
                <a href="{{ next_url or '#' }}">
                    Older reports <span aria-hidden="true">&rarr;</span>
                </a>
            </li>
        </ul>
    </nav>


{% endblock %}