{% extends "base.html" %}

{% block content %}

	{% if title == 'Explore' %}
		<h1>Search Prices</h1>
	{% else %}
		<h1>Live Feed</h1>
	{% endif %}

	<form autocomplete="off" action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.service.label }}<br>
            {{ form.service(cols=32, rows=4) }}<br>
            {{ form.zip_code.label }}<br>
            {{ form.zip_code(cols=32, rows=4) }}<br>
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% for post in posts %}
        	{% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}

{% endblock %}