{% extends "base.html" %}

{% block content %}
   
    {% if form %}
    <h1>Hi, {{ current_user.username }}!</h1>
    <h3> Please help us grow out database of prices! <br> You can submit a price you paid for a service you recieved to help our community! <br> Happy reporting!</h3>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.service.label }}<br>
            {{ form.service(cols=32, rows=4) }}<br>
            {{ form.company.label }}<br>
            {{ form.company(cols=32, rows=4) }}<br>
            {{ form.price.label }}<br>
            {{ form.price(cols=32, rows=4) }}<br>
            {{ form.rating.label }}<br>
            {{ form.rating(cols=32, rows=4) }}<br>
            {{ form.post.label }}<br>
            {{ form.post(cols=32, rows=4) }}<br>
            
            {% for error in form.post.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}