<table class="table table-hover text-center table-bordered">
	<tr>
		<td width="130px">
			{{ listing.company.company_name }}, <p style=" font-size: 20px;">{{ listing.company.company_address }}</p><br>
		</td>
		<td width="90px" >
			${{ listing.average_price }}<br>
		</td>
		<td width="110px">
			{{ listing.service.title }}<br>
		</td>
		<td width="110px">
			{{ listing.average_rating }}<br>
		</td>

	    <td width="110px">	
	        {{ listing.company.company_phone_number }}
	    </td>
	</tr>
</table>