{% extends "base.html" %}

{% block content %}
    
    {% if form %}
    <h1>Report a Price</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.service.label }}<br>
            {{ form.service(cols=32, rows=4) }}<br>
            {{ form.price.label }}<br>
            {{ form.price(cols=32, rows=4) }}<br>
            {% for error in form.price.errors %}
            <span style="color: red;">[{{ error }}]</span><br>
            {% endfor %}
            {{ form.review.label }}<br>
            {{ form.review(cols=32, rows=4) }}<br>
            
        </p>
        <p>{{ form.submit() }}</p>
    </form>
    {% endif %}
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
    {% if prev_url %}
    <a href="{{ prev_url }}">Newer posts</a>
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">Older posts</a>
    {% endif %}
{% endblock %}