{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}  
   
    {% if form %}
    <div class="container">
        <div class="col-lg-4 col-lg-offset-4">
        <h1>Report a price</h1>
        <p> Submit a price you paid for a service.</p>
        
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p>
            
                <div class='form-group'>
                    {{ form.service.label }}<br>
                    {{ form.service(cols=32, rows=4, class_='chosen-select')}}<br>
                    {{ form.company.label }}<br>
                    {{ form.company(cols=32, rows=4, class_='chosen-select') }}<br>
                    {{ form.price.label }}<br>
                    {{ form.price(cols=32, rows=4, class_='form-control') }}<br>
                    {{ form.rating.label }}<br>
                    {{ form.rating(cols=32, rows=4, class_='form-control') }}<br>
                    {{ form.post.label }}<br>
                    {{ form.post(cols=32, rows=4, class_='form-control') }}<br>
                    
                    {% for error in form.post.errors %}
                    <span style="color: red;">[{{ error }}]</span>
                    {% endfor %}
                </div>
            
            </p>
            <p>{{ form.submit(class_="btn btn-default") }}</p>
        </form>
        
        </div>
    </div>
    <br>
    {% endif %}

    {% if form2 %}
    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
        <h1>Add a Company!</h1>
        <form action="" method="post">
            {{ form2.hidden_tag() }}
            <p>
                <div class='form-group'>
                    {{ form2.company_name.label }}
                    {{ form2.company_name(cols=32, rows=4, class_='form-control') }}
                    {% for error in form2.company_name.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                    {% endfor %}
                    {{ form2.company_address.label }}<br>
                    {{ form2.company_address(cols=32, rows=4, class_='form-control') }}
                    {{ form2.company_city.label }}<br>
                    {{ form2.company_city(cols=32, rows=4, class_='form-control') }}
                    {% for error in form2.company_city.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                    {% endfor %}
                    {{ form2.company_state.label }}<br>
                    {{ form2.company_state(cols=32, rows=4, class_='form-control') }}
                    {{ form2.company_zipcode.label }}<br>
                    {{ form2.company_zipcode(cols=32, rows=4, class_='form-control') }}
                    {{ form2.company_website.label }}<br>
                    {{ form2.company_website(cols=32, rows=4, class_='form-control') }}
                    {{ form2.company_phone_number.label }}<br>
                    {{ form2.company_phone_number(cols=32, rows=4, class_='form-control') }}
                    {% for error in form2.company_phone_number.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                    {% endfor %}
                    {{ form2.company_email.label }}<br>
                    {{ form2.company_email(cols=32, rows=4, class_='form-control') }}
                    {% for error in form2.company_email.errors %}
                    <span style="color: red;">[{{ error }}]</span><br>
                    {% endfor %}

                </div>
            </p>
            <p>{{ form2.submit(class_="btn btn-default") }}</p>
        </form>
        
        </div>
    </div>
    <br>
    {% endif %}

   
{% endblock %}